<h1>I am {{name}}</h1><br>
<h2>I work in {{company}}</h2>
<hr>
<h3>Event Handling example</h3>
<button (click)="display()" style="margin:20px">Click Me</button><br>
<hr>
<br>
<label>
  User Name:
  <input type="text"[formControl]="uname">
</label>
<p>
  User Name is {{uname.value}}
</p>
<p>
  <button (click)="updateName()">Update User Name</button>
</p>
<hr>
<h1>Products details</h1>
<div class="title">{{products[0].title}}</div>
<div class="price">{{products[0].price}}</div>
<div class="title">{{products[0].brand}}</div>
<br><hr>
<div class="title">{{products[1].title}}</div>
<div class="price">{{products[1].price}}</div>
<div class="title">{{products[1].brand}}</div>
<br><hr>
<div class="title">{{products[2].title}}</div>
<div class="price">{{products[2].price}}</div>
<div class="title">{{products[2].brand}}</div>

<hr>
<h2>Angular For Loop</h2>
<br>
<div *ngFor="let x of products">
<div class="title">{{x.title}}</div>
<div class="price">{{x.price}}</div>
<div class="title">{{x.brand}}</div>

</div>
<hr>


