h1{
    color: red;
}
h2{
    color: greenyellow;
}

.title{
    font-size: 30px;
    color: aqua;
}

.price{
    font-size: 30px;
    color: blue;
}

.brand{
    font-size: 30px;
    color: chartreuse;
}